{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=YOUR_PASSWORD_HERE"
  },
  "BtcApi": {
    "Url": "https://api.freecryptoapi.com/v1/getData?symbol=BTC",
    "Key": "YOUR_BTC_API_KEY"
  }
}
